@import '../variables';

.button {
  display: inline-block;
  border: none;
  background-color: $primary-color;
  color: $white;
  padding: 5px 10px;
  line-height: 1.2;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover,
  &:focus {
    filter: brightness(1.2);
  }

  &:focus:hover {
    outline: none;
  }

  &:focus:not(:hover) {
    outline: 1px solid $black;
    outline-offset: -4px;
  }

  &:active {
    transform: scale(0.99);
  }
}