{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{% block content %}
    <img class="home__image" src="/images/soepbroodje.jpg" alt="" />
    <article class="home__article">
        <h1 class="visually-hidden">Soep aan de singel</h1>
        <div class="home__content">
            <div class="home__intro">
                {% if intro %}<p>{{ intro | safe }}</p>{% endif %}
                <div class="home__logo-wrapper">
                    <img class="home__logo" src="/images/logo.png" alt="Soep aan de Singel">
                </div>
            </div>
            {{ content | safe }}
            <ul class="home__details">
                {% if wanneer %}
                    <li>{{ wanneer }}</li>
                {% endif %}
                {% if waar %}
                    <li>{{ waar }}</li>
                {% endif %}
                {% if aanmelden %}
                    <li>{{ aanmelden | safe }}</li>
                {% endif %}
            </ul>

            {% if organisatie %}
                <h2>Organisatie</h2>
                <p>{{ organisatie | safe }}</p>
            {% endif %}

            {% if achtergrond %}
                <h2>Achtergrond</h2>
                <p>{{ achtergrond | safe }}</p>
            {% endif %}
        </div>
    </article>
{% endblock %}