{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{% block content %}
    <img class="home__image" src="/images/soepbroodje.jpg" alt="" />
    <article class="home__article">
        <h1 class="visually-hidden">Soep aan de singel</h1>
        <div class="home__content">
            <div class="home__intro">
                {% if intro %}<p>{{ intro | safe }}</p>{% endif %}
            </div>
            <div class="home__logo-wrapper">
                <img src="/images/logo.svg" alt="Soep aan de Singel">
            </div>
            {{ content | safe }}
        </div>
    </article>
{% endblock %}