{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{% block content %}
    <img class="home__image" src="/images/soepbroodje.jpg" alt=""/>
    <article class="home__article">
        <h1 class="visually-hidden">Soep aan de singel</h1>
        <div class="home__content">
            <div class="home__intro">
                {% if intro %}<p>{{ intro | safe }}</p>{% endif %}
            </div>
            <div class="home__logo-wrapper">
                <img src="/images/logo.svg" alt="Soep aan de Singel">
            </div>

            {{ content | safe }}

            <div class="home__attention">
                <p>Ook bij ons zijn de regels:</p>
                <ul>
                    <li>Kom niet als u klachten heeft die kunnen wijzen op het Corona-virus</li>
                    <li>Handen desinfecteren</li>
                    <li>1,5 m afstand houden van anderen</li>
                </ul>
            </div>

            <h2>Organisatie</h2>
            <p>
                Soep aan de Singel wordt georganiseerd door mensen uit diverse kerken en studentenverenigingen. De lunch
                is gratis en wordt mede mogelijk gemaakt door het "Bloeifonds" van de Nederlands Gereformeerde Kerk
                Oegstgeest.
            </p>

            <h2>Achtergrond</h2>
            <p>In hartje Leiden staat Plexat; een jongerenhuis verbonden aan de NGK Oegstgeest e.o. Medio 2018 vroeg
                Bram Dijkstra, toenmalig kerkelijk werker in deze kerk, zich af of de mogelijkheden die Plexat heeft,
                wat meer zouden
                kunnen betekenen voor de stad; het ligt centraal, heeft een mooie keuken en
                een gemeenschappelijke ruimte. Als werktitel had hij "Soep aan de Singel"
                bedacht, inclusief een logo.
            </p>

            <p>
                Vervolgens is dit idee besproken met mensen uit verschillende Leidse kerken en organisaties. Daarbij
                kwam naar voren dat met name de zondag voor veel mensen best een lange, eenzame dag is. De gelegenheid
                om op die dag gezellig samen
                met anderen te kunnen lunchen zou dan een mooie "break" zijn. Met deze
                aanwijzingen zijn we aan de slag gegaan!
            </p>
        </div>
    </article>
{% endblock %}