body {
  font-family: 'Averia Serif Libre', Arial, serif;
}

h1,
h2,
h3 {
  margin-bottom: 0.2em;
  font-weight: 700;
  font-style: italic;
}

p {
  margin-bottom: 0.5em;
}

a {
  &,
  &:hover,
  &:focus {
    color: inherit;
  }
}