body {
  font-family: 'Averia Serif Libre', Arial, serif;
  font-weight: 300;
  color: #111;
  line-height: 1.2;
}

h1,
h2,
h3 {
  margin-bottom: 0.2em;
  font-weight: 700;
  font-style: italic;
}

p {
  margin-bottom: 1em;
}

strong {
  font-weight: 700;
}

ol,
ul {
  padding-left: 20px;
  margin-bottom: 1em;

  @media only screen and (min-width: 850px) {
    padding-left: 40px;
  }
}

li {
  margin-bottom: 0.5em;
}

a {
  word-break: break-word;

  &,
  &:hover,
  &:focus {
    color: inherit;
  }
}