@import "reset";
@import "variables";

html, body {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

body {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@import 'typography';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
@import 'components/button';
@import 'components/site-foot';
@import 'components/home';